@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
    position: relative;
}

audio#musica {
    display: block;
    position: absolute;
    left: 575px;
    top: 490px;
    width: 300px;
}

video#filme {
    display: block;
    position: absolute;
    left: 87px;
    top: 125px;
    width: 440px;
}

iframe#ytplayer {
    display: block;
    position: relative;
    left: 85px;
    top: 75px;
    width: 440px;
}